@import '../public/variables.scss';

body{
  font-size: 1vw;
}

.showPopFlight {
 float: left;
 padding: 0.2rem;
  }

  .card { 
  padding: .2rem;
  box-shadow: 0 0 1px rgb(238, 235, 235);
  }

  .imgPopFlight img{
    height: 80px;
    width: 120px;
  }

.home{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
 

}

.detailPopFlight{

}