// @import '../public/variables.scss';
$primary-color: rgb(0, 89, 255);

body{
  font-size: 1vw;
}

.showPopFlight {
 float: left;
 padding: 0.2rem;

  }

  .card { 
  padding: .2rem;
  box-shadow: 0 0 1px rgb(238, 235, 235);
  }

  .imgPopFlight img{
    height: 80px;
    width: 120px;
  }

.home{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
 
}

.trip-start{
  margin: .4rem 0;
}

.note {
  font-size: .8em;
}

.btn {
  background-color:rgb(35, 115, 229);
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
  border-radius: 2px;
  font-size: 2vw;
  padding: 0.8vw;
  
}
.btn:hover{
  background-color: rgb(0, 162, 255);
}


.popup_inner{
  box-shadow: 0 0 1px rgb(238, 235, 235);
  padding: 20px;
  position: absolute;
  left: 0;
   right: 0;
   top: 0;
   bottom: 0;
  display: block;
  width:50vw;
  height: 50vh;
  margin: auto;
  background-color: white;

}

.message{
  font-size: 10px;
}

.HomeForm{
  background: url("/airplane2.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
  width: 100%;
  position: fixed;
  left: 0;
  top: 30px;
  bottom: 0;
}


.linkBookFlight{
border-right:1px solid rgb(116, 113, 113);

}
.linkBookFlight , .linkDeal{
  padding: 0px 20px 0 20px;
  text-decoration: none;
  color: rgb(66, 66, 66);
  font-size: 15px;
}
.linkBookFlight:hover, .linkDeal:hover{
 color: rgb(74, 154, 230);


}
.linkBookFlight:focus , .linkDeal:focus{
  color: $primary-color;
  
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(121, 138, 143);
  color: white;
  text-align: center;
}

a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.BookForm{
  box-shadow: 0 0 10px rgb(28, 34, 36);
  padding: 20px;
  position: absolute;
  left: 10vw;
   top: 0;
   bottom: 0;
  display: block;
  width:45vw;
  height: 35vh;
  margin: auto;
 
}
.input input{
  margin-top:10px;
}


.iconReturnImg{
  width: 3vw;
  margin-bottom: -8px;
  margin-right: 0.2vw;
}
.iconDepartImg{
  width: 2.5vw;
  margin-bottom: -5px;
  margin-right: 0.6vw;
}
.iconRoundTrip{
  // margin:0 2vw 0 2vw;
  width: 2vw;
  margin-bottom: -5px;

}
.passenger{
  font-size: 1.5vw;
  display: flex;
  align-items: center;
}
.tripType, .fareClass{
background-color: white;
}
.HomeForm1{
  display: flex;
  justify-content: space-between;
}
.noDetail:hover{
color: $primary-color;
}

.HomeSearch{
  
}