@import '../public/variables.scss';

body{
  font-size: 1vw;
}

.showPopFlight {
 float: left;
 padding: 0.2rem;
  }

  .card { 
  padding: .2rem;
  box-shadow: 0 0 1px rgb(238, 235, 235);
  }

  .imgPopFlight img{
    height: 80px;
    width: 120px;
  }

.home{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
 

}

.trip-start{
  margin: .4rem 0;
}

.note {
  font-size: .8em;
}

.btn {
  background-color:rgb(35, 115, 229);
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
  border-radius: 2px;
  font-size: 2vw;
  padding: 0.8vw;
}
.btn:hover{
  background-color: rgb(0, 162, 255);
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}